.p1 { padding: 0.6rem }
.p2 { padding: 1.2rem }
.p3 { padding: 1.8rem }
.p4 { padding: 2.4rem }
.pt1 { padding-top: 0.6rem }
.pt2 { padding-top: 1.2rem }
.pt3 { padding-top: 1.8rem }
.pt4 { padding-top: 2.4rem }
.pr1 { padding-right: 0.6rem }
.pr2 { padding-right: 1.2rem }
.pr3 { padding-right: 1.8rem }
.pr4 { padding-right: 2.4rem }
.pb1 { padding-bottom: 0.6rem }
.pb2 { padding-bottom: 1.2rem }
.pb3 { padding-bottom: 1.8rem }
.pb4 { padding-bottom: 2.4rem }
.pl1 { padding-left: 0.6rem }
.pl2 { padding-left: 1.2rem }
.pl3 { padding-left: 1.8rem }
.pl4 { padding-left: 2.4rem }
.px1 {
	padding-right: 0.6rem;
	padding-left: 0.6rem;
}

.px2 {
	padding-right: 1.2rem;
	padding-left: 1.2rem;
}

.px3 {
	padding-right: 1.8rem;
	padding-left: 1.8rem;
}

.px4 {
	padding-right: 2.4rem;
	padding-left: 2.4rem;
}

.py1 {
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
}

.py2 {
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
}

.py3 {
	padding-top: 1.8rem;
	padding-bottom: 1.8rem;
}

.py4 {
	padding-top: 2.4rem;
	padding-bottom: 2.4rem;
}


@media (min-width: 600px) {
.p1-sm { padding: 0.6rem }
.p2-sm { padding: 1.2rem }
.p3-sm { padding: 1.8rem }
.p4-sm { padding: 2.4rem }
.pt1-sm { padding-top: 0.6rem }
.pt2-sm { padding-top: 1.2rem }
.pt3-sm { padding-top: 1.8rem }
.pt4-sm { padding-top: 2.4rem }
.pr1-sm { padding-right: 0.6rem }
.pr2-sm { padding-right: 1.2rem }
.pr3-sm { padding-right: 1.8rem }
.pr4-sm { padding-right: 2.4rem }
.pb1-sm { padding-bottom: 0.6rem }
.pb2-sm { padding-bottom: 1.2rem }
.pb3-sm { padding-bottom: 1.8rem }
.pb4-sm { padding-bottom: 2.4rem }
.pl1-sm { padding-left: 0.6rem }
.pl2-sm { padding-left: 1.2rem }
.pl3-sm { padding-left: 1.8rem }
.pl4-sm { padding-left: 2.4rem }
.px1-sm {
	padding-right: 0.6rem;
	padding-left: 0.6rem;
}

.px2-sm {
	padding-right: 1.2rem;
	padding-left: 1.2rem;
}

.px3-sm {
	padding-right: 1.8rem;
	padding-left: 1.8rem;
}

.px4-sm {
	padding-right: 2.4rem;
	padding-left: 2.4rem;
}

.py1-sm {
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
}

.py2-sm {
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
}

.py3-sm {
	padding-top: 1.8rem;
	padding-bottom: 1.8rem;
}

.py4-sm {
	padding-top: 2.4rem;
	padding-bottom: 2.4rem;
}

}

@media (min-width: 900px) {
.p1-md { padding: 0.6rem }
.p2-md { padding: 1.2rem }
.p3-md { padding: 1.8rem }
.p4-md { padding: 2.4rem }
.pt1-md { padding-top: 0.6rem }
.pt2-md { padding-top: 1.2rem }
.pt3-md { padding-top: 1.8rem }
.pt4-md { padding-top: 2.4rem }
.pr1-md { padding-right: 0.6rem }
.pr2-md { padding-right: 1.2rem }
.pr3-md { padding-right: 1.8rem }
.pr4-md { padding-right: 2.4rem }
.pb1-md { padding-bottom: 0.6rem }
.pb2-md { padding-bottom: 1.2rem }
.pb3-md { padding-bottom: 1.8rem }
.pb4-md { padding-bottom: 2.4rem }
.pl1-md { padding-left: 0.6rem }
.pl2-md { padding-left: 1.2rem }
.pl3-md { padding-left: 1.8rem }
.pl4-md { padding-left: 2.4rem }
.px1-md {
	padding-right: 0.6rem;
	padding-left: 0.6rem;
}

.px2-md {
	padding-right: 1.2rem;
	padding-left: 1.2rem;
}

.px3-md {
	padding-right: 1.8rem;
	padding-left: 1.8rem;
}

.px4-md {
	padding-right: 2.4rem;
	padding-left: 2.4rem;
}

.py1-md {
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
}

.py2-md {
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
}

.py3-md {
	padding-top: 1.8rem;
	padding-bottom: 1.8rem;
}

.py4-md {
	padding-top: 2.4rem;
	padding-bottom: 2.4rem;
}

}

@media (min-width: 1100px) {
.p1-lg { padding: 0.6rem }
.p2-lg { padding: 1.2rem }
.p3-lg { padding: 1.8rem }
.p4-lg { padding: 2.4rem }
.pt1-lg { padding-top: 0.6rem }
.pt2-lg { padding-top: 1.2rem }
.pt3-lg { padding-top: 1.8rem }
.pt4-lg { padding-top: 2.4rem }
.pr1-lg { padding-right: 0.6rem }
.pr2-lg { padding-right: 1.2rem }
.pr3-lg { padding-right: 1.8rem }
.pr4-lg { padding-right: 2.4rem }
.pb1-lg { padding-bottom: 0.6rem }
.pb2-lg { padding-bottom: 1.2rem }
.pb3-lg { padding-bottom: 1.8rem }
.pb4-lg { padding-bottom: 2.4rem }
.pl1-lg { padding-left: 0.6rem }
.pl2-lg { padding-left: 1.2rem }
.pl3-lg { padding-left: 1.8rem }
.pl4-lg { padding-left: 2.4rem }
.px1-lg {
	padding-right: 0.6rem;
	padding-left: 0.6rem;
}

.px2-lg {
	padding-right: 1.2rem;
	padding-left: 1.2rem;
}

.px3-lg {
	padding-right: 1.8rem;
	padding-left: 1.8rem;
}

.px4-lg {
	padding-right: 2.4rem;
	padding-left: 2.4rem;
}

.py1-lg {
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
}

.py2-lg {
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
}

.py3-lg {
	padding-top: 1.8rem;
	padding-bottom: 1.8rem;
}

.py4-lg {
	padding-top: 2.4rem;
	padding-bottom: 2.4rem;
}

}

@media (max-width: 599px) {
.p-auto-xs { padding: auto }
.pt-auto-xs { padding-top: auto }
.pr-auto-xs { padding-right: auto }
.pb-auto-xs { padding-bottom: auto }
.pl-auto-xs { padding-left: auto }
.px-auto-xs {
	padding-right: auto;
	padding-left: auto;
}

.py-auto-xs {
	padding-top: auto;
	padding-bottom: auto;
}

}

@media (min-width: 600px) and (max-width: 899px) {
.p-auto-sm { padding: auto }
.pt-auto-sm { padding-top: auto }
.pr-auto-sm { padding-right: auto }
.pb-auto-sm { padding-bottom: auto }
.pl-auto-sm { padding-left: auto }
.px-auto-sm {
	padding-right: auto;
	padding-left: auto;
}

.py-auto-sm {
	padding-top: auto;
	padding-bottom: auto;
}

}

@media (min-width: 900px) and (max-width: 1099px) {
.p-auto-md { padding: auto }
.pt-auto-md { padding-top: auto }
.pr-auto-md { padding-right: auto }
.pb-auto-md { padding-bottom: auto }
.pl-auto-md { padding-left: auto }
.px-auto-md {
	padding-right: auto;
	padding-left: auto;
}

.py-auto-md {
	padding-top: auto;
	padding-bottom: auto;
}

}

@media (min-width: 1100px) {
.p-auto-lg { padding: auto }
.pt-auto-lg { padding-top: auto }
.pr-auto-lg { padding-right: auto }
.pb-auto-lg { padding-bottom: auto }
.pl-auto-lg { padding-left: auto }
.px-auto-lg {
	padding-right: auto;
	padding-left: auto;
}

.py-auto-lg {
	padding-top: auto;
	padding-bottom: auto;
}

}
