.bg-cover { background-size: cover }
.bg-contain { background-size: contain }
.bg-full-height { background-size: auto 100% }
.bg-full-width { background-size: 100% auto }
.bg10p { background-size: 10% }
.bg20p { background-size: 20% }
.bg25p { background-size: 25% }
.bg33p { background-size: 33% }
.bg34p { background-size: 34% }
.bg35p { background-size: 35% }
.bg40p { background-size: 40% }
.bg50p { background-size: 50% }
.bg60p { background-size: 60% }
.bg66p { background-size: 66% }
.bg75p { background-size: 75% }
.bg80p { background-size: 80% }
.bg100p { background-size: 100% },,,.bg-none { background-image: none !important }
@media (min-width: 600px) {
.bg-none-sm { background-image: none !important }
}

@media (min-width: 900px) {
.bg-none-md { background-image: none !important }
}

@media (min-width: 1100px) {
.bg-none-lg { background-image: none !important }
}
,,.no-radius { border: 0 }
.rounded { border: 2px }
.rounded-medium { border: 4px }
.rounded-large { border: 6px }
.pill { border: 200px }
.circle { border: 100% }
.topno-radius {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.toprounded {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.toprounded-medium {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.toprounded-large {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.toppill {
	border-top-left-radius: 200px;
	border-top-right-radius: 200px;
}

.topcircle {
	border-top-left-radius: 100%;
	border-top-right-radius: 100%;
}

.rightno-radius {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.rightrounded {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.rightrounded-medium {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.rightrounded-large {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.rightpill {
	border-top-right-radius: 200px;
	border-bottom-right-radius: 200px;
}

.rightcircle {
	border-top-right-radius: 100%;
	border-bottom-right-radius: 100%;
}

.bottomno-radius {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.bottomrounded {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.bottomrounded-medium {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.bottomrounded-large {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.bottompill {
	border-bottom-left-radius: 200px;
	border-bottom-right-radius: 200px;
}

.bottomcircle {
	border-bottom-left-radius: 100%;
	border-bottom-right-radius: 100%;
}

.leftno-radius {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.leftrounded {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.leftrounded-medium {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.leftrounded-large {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.leftpill {
	border-top-left-radius: 200px;
	border-bottom-left-radius: 200px;
}

.leftcircle {
	border-top-left-radius: 100%;
	border-bottom-left-radius: 100%;
}

.top-rightno-radius { border-top-right-radius: 0 }
.top-rightrounded { border-top-right-radius: 2px }
.top-rightrounded-medium { border-top-right-radius: 4px }
.top-rightrounded-large { border-top-right-radius: 6px }
.top-rightpill { border-top-right-radius: 200px }
.top-rightcircle { border-top-right-radius: 100% }
.bottom-rightno-radius { border-bottom-right-radius: 0 }
.bottom-rightrounded { border-bottom-right-radius: 2px }
.bottom-rightrounded-medium { border-bottom-right-radius: 4px }
.bottom-rightrounded-large { border-bottom-right-radius: 6px }
.bottom-rightpill { border-bottom-right-radius: 200px }
.bottom-rightcircle { border-bottom-right-radius: 100% }
.top-leftno-radius { border-top-left-radius: 0 }
.top-leftrounded { border-top-left-radius: 2px }
.top-leftrounded-medium { border-top-left-radius: 4px }
.top-leftrounded-large { border-top-left-radius: 6px }
.top-leftpill { border-top-left-radius: 200px }
.top-leftcircle { border-top-left-radius: 100% }
.bottom-leftno-radius { border-bottom-left-radius: 0 }
.bottom-leftrounded { border-bottom-left-radius: 2px }
.bottom-leftrounded-medium { border-bottom-left-radius: 4px }
.bottom-leftrounded-large { border-bottom-left-radius: 6px }
.bottom-leftpill { border-bottom-left-radius: 200px }
.bottom-leftcircle { border-bottom-left-radius: 100% },,,.border { border: 0.1rem solid #fff000 }
.border-none { border: none !important }
.border-top { border-top: 0.1rem solid #fff000 }
.border-top-none { border-top: none !important }
.border-right { border-right: 0.1rem solid #fff000 }
.border-right-none { border-right: none !important }
.border-bottom { border-bottom: 0.1rem solid #fff000 }
.border-bottom-none { border-bottom: none !important }
.border-left { border-left: 0.1rem solid #fff000 }
.border-left-none { border-left: none !important }
@media (min-width: 600px) {
.border-sm { border: 0.1rem solid #fff000 }
.border-none-sm { border: none !important }
.border-top-sm { border-top: 0.1rem solid #fff000 }
.border-top-none-sm { border-top: none !important }
.border-right-sm { border-right: 0.1rem solid #fff000 }
.border-right-none-sm { border-right: none !important }
.border-bottom-sm { border-bottom: 0.1rem solid #fff000 }
.border-bottom-none-sm { border-bottom: none !important }
.border-left-sm { border-left: 0.1rem solid #fff000 }
.border-left-none-sm { border-left: none !important }
}

@media (min-width: 900px) {
.border-md { border: 0.1rem solid #fff000 }
.border-none-md { border: none !important }
.border-top-md { border-top: 0.1rem solid #fff000 }
.border-top-none-md { border-top: none !important }
.border-right-md { border-right: 0.1rem solid #fff000 }
.border-right-none-md { border-right: none !important }
.border-bottom-md { border-bottom: 0.1rem solid #fff000 }
.border-bottom-none-md { border-bottom: none !important }
.border-left-md { border-left: 0.1rem solid #fff000 }
.border-left-none-md { border-left: none !important }
}

@media (min-width: 1100px) {
.border-lg { border: 0.1rem solid #fff000 }
.border-none-lg { border: none !important }
.border-top-lg { border-top: 0.1rem solid #fff000 }
.border-top-none-lg { border-top: none !important }
.border-right-lg { border-right: 0.1rem solid #fff000 }
.border-right-none-lg { border-right: none !important }
.border-bottom-lg { border-bottom: 0.1rem solid #fff000 }
.border-bottom-none-lg { border-bottom: none !important }
.border-left-lg { border-left: 0.1rem solid #fff000 }
.border-left-none-lg { border-left: none !important }
}
,,.bordergrey { border-color: undefined }
.bordergreen { border-color: #008000 }
.borderred { border-color: #FF0000 },,,.border-regular { border-width: 0.1rem }
.border-medium { border-width: 0.2rem }
.border-thick { border-width: 0.3rem },,,.box-sizing { box-sizing: box-sizing },,,.left { clear: left }
.right { clear: right }
.both { clear: both },,,.grey { color: undefined }
.blue { color: #0000FF }
.orange { color: undefined },
@media (max-width: 599px) {
.transparent-xs { color: transparent }
}

@media (min-width: 600px) and (max-width: 899px) {
.transparent-sm { color: transparent }
}

@media (min-width: 900px) and (max-width: 1099px) {
.transparent-md { color: transparent }
}

@media (min-width: 1100px) {
.transparent-lg { color: transparent }
}
,.bg-grey { background-color: undefined }
.bg-blue { background-color: #0000FF }
.bg-orange { background-color: undefined },
@media (max-width: 599px) {
.bg-transparent-xs { background-color: transparent }
}

@media (min-width: 600px) and (max-width: 899px) {
.bg-transparent-sm { background-color: transparent }
}

@media (min-width: 900px) and (max-width: 1099px) {
.bg-transparent-md { background-color: transparent }
}

@media (min-width: 1100px) {
.bg-transparent-lg { background-color: transparent }
}
,.fill-grey { fill: undefined }
.fill-blue { fill: #0000FF }
.fill-orange { fill: undefined },
@media (max-width: 599px) {
.fill-transparent-xs { fill: transparent }
}

@media (min-width: 600px) and (max-width: 899px) {
.fill-transparent-sm { fill: transparent }
}

@media (min-width: 900px) and (max-width: 1099px) {
.fill-transparent-md { fill: transparent }
}

@media (min-width: 1100px) {
.fill-transparent-lg { fill: transparent }
}
,.cursor { cursor: move },,,.click-through { pointer-events: none }
.click-on { pointer-events: auto },,,.block { display: block }
.display-inline { display: inline }
.inline-block { display: inline-block }
.flex { display: flex }
.inline-flex { display: inline-flex }
@media (min-width: 600px) {
.block-sm { display: block }
.display-inline-sm { display: inline }
.inline-block-sm { display: inline-block }
.flex-sm { display: flex }
.inline-flex-sm { display: inline-flex }
}

@media (min-width: 900px) {
.block-md { display: block }
.display-inline-md { display: inline }
.inline-block-md { display: inline-block }
.flex-md { display: flex }
.inline-flex-md { display: inline-flex }
}

@media (min-width: 1100px) {
.block-lg { display: block }
.display-inline-lg { display: inline }
.inline-block-lg { display: inline-block }
.flex-lg { display: flex }
.inline-flex-lg { display: inline-flex }
}
,,.flexnone { flex: none }
.flex-0 { flex: 0 }
.flex-1 { flex: 1 }
.flex-2 { flex: 2 }
.flex-3 { flex: 3 }
.flex-4 { flex: 4 }
.flex-5 { flex: 5 }
@media (min-width: 600px) {
.flexnone-sm { flex: none }
.flex-0-sm { flex: 0 }
.flex-1-sm { flex: 1 }
.flex-2-sm { flex: 2 }
.flex-3-sm { flex: 3 }
.flex-4-sm { flex: 4 }
.flex-5-sm { flex: 5 }
}

@media (min-width: 900px) {
.flexnone-md { flex: none }
.flex-0-md { flex: 0 }
.flex-1-md { flex: 1 }
.flex-2-md { flex: 2 }
.flex-3-md { flex: 3 }
.flex-4-md { flex: 4 }
.flex-5-md { flex: 5 }
}

@media (min-width: 1100px) {
.flexnone-lg { flex: none }
.flex-0-lg { flex: 0 }
.flex-1-lg { flex: 1 }
.flex-2-lg { flex: 2 }
.flex-3-lg { flex: 3 }
.flex-4-lg { flex: 4 }
.flex-5-lg { flex: 5 }
}
,,.grow-0 { flex-grow: 0 }
.grow-1 { flex-grow: 1 }
.grow-2 { flex-grow: 2 }
.grow-3 { flex-grow: 3 }
.grow-4 { flex-grow: 4 }
.grow-5 { flex-grow: 5 }
@media (min-width: 600px) {
.grow-0-sm { flex-grow: 0 }
.grow-1-sm { flex-grow: 1 }
.grow-2-sm { flex-grow: 2 }
.grow-3-sm { flex-grow: 3 }
.grow-4-sm { flex-grow: 4 }
.grow-5-sm { flex-grow: 5 }
}

@media (min-width: 900px) {
.grow-0-md { flex-grow: 0 }
.grow-1-md { flex-grow: 1 }
.grow-2-md { flex-grow: 2 }
.grow-3-md { flex-grow: 3 }
.grow-4-md { flex-grow: 4 }
.grow-5-md { flex-grow: 5 }
}

@media (min-width: 1100px) {
.grow-0-lg { flex-grow: 0 }
.grow-1-lg { flex-grow: 1 }
.grow-2-lg { flex-grow: 2 }
.grow-3-lg { flex-grow: 3 }
.grow-4-lg { flex-grow: 4 }
.grow-5-lg { flex-grow: 5 }
}
,,.shrink-0 { flex-shrink: 0 }
.shrink-1 { flex-shrink: 1 }
@media (min-width: 600px) {
.shrink-0-sm { flex-shrink: 0 }
.shrink-1-sm { flex-shrink: 1 }
}

@media (min-width: 900px) {
.shrink-0-md { flex-shrink: 0 }
.shrink-1-md { flex-shrink: 1 }
}

@media (min-width: 1100px) {
.shrink-0-lg { flex-shrink: 0 }
.shrink-1-lg { flex-shrink: 1 }
}
,,.flexcolumn { flex-direction: column }
.flexcolumn-reverse { flex-direction: column-reverse }
.flexrow { flex-direction: row }
.flexrow-reverse { flex-direction: row-reverse }
@media (min-width: 600px) {
.flexcolumn-sm { flex-direction: column }
.flexcolumn-reverse-sm { flex-direction: column-reverse }
.flexrow-sm { flex-direction: row }
.flexrow-reverse-sm { flex-direction: row-reverse }
}

@media (min-width: 900px) {
.flexcolumn-md { flex-direction: column }
.flexcolumn-reverse-md { flex-direction: column-reverse }
.flexrow-md { flex-direction: row }
.flexrow-reverse-md { flex-direction: row-reverse }
}

@media (min-width: 1100px) {
.flexcolumn-lg { flex-direction: column }
.flexcolumn-reverse-lg { flex-direction: column-reverse }
.flexrow-lg { flex-direction: row }
.flexrow-reverse-lg { flex-direction: row-reverse }
}
,,.flexwrap { flex-wrap: wrap }
.flexnowrap { flex-wrap: nowrap }
@media (min-width: 600px) {
.flexwrap-sm { flex-wrap: wrap }
.flexnowrap-sm { flex-wrap: nowrap }
}

@media (min-width: 900px) {
.flexwrap-md { flex-wrap: wrap }
.flexnowrap-md { flex-wrap: nowrap }
}

@media (min-width: 1100px) {
.flexwrap-lg { flex-wrap: wrap }
.flexnowrap-lg { flex-wrap: nowrap }
}
,,.itemsstart { align-items: flex-start }
.itemsend { align-items: flex-end }
.itemscenter { align-items: center }
.itemsbaseline { align-items: baseline }
.itemsstretch { align-items: stretch }
@media (min-width: 600px) {
.itemsstart-sm { align-items: flex-start }
.itemsend-sm { align-items: flex-end }
.itemscenter-sm { align-items: center }
.itemsbaseline-sm { align-items: baseline }
.itemsstretch-sm { align-items: stretch }
}

@media (min-width: 900px) {
.itemsstart-md { align-items: flex-start }
.itemsend-md { align-items: flex-end }
.itemscenter-md { align-items: center }
.itemsbaseline-md { align-items: baseline }
.itemsstretch-md { align-items: stretch }
}

@media (min-width: 1100px) {
.itemsstart-lg { align-items: flex-start }
.itemsend-lg { align-items: flex-end }
.itemscenter-lg { align-items: center }
.itemsbaseline-lg { align-items: baseline }
.itemsstretch-lg { align-items: stretch }
}
,,.selfstart { align-self: flex-start }
.selfend { align-self: flex-end }
.selfcenter { align-self: center }
.selfbaseline { align-self: baseline }
.selfstretch { align-self: stretch }
@media (min-width: 600px) {
.selfstart-sm { align-self: flex-start }
.selfend-sm { align-self: flex-end }
.selfcenter-sm { align-self: center }
.selfbaseline-sm { align-self: baseline }
.selfstretch-sm { align-self: stretch }
}

@media (min-width: 900px) {
.selfstart-md { align-self: flex-start }
.selfend-md { align-self: flex-end }
.selfcenter-md { align-self: center }
.selfbaseline-md { align-self: baseline }
.selfstretch-md { align-self: stretch }
}

@media (min-width: 1100px) {
.selfstart-lg { align-self: flex-start }
.selfend-lg { align-self: flex-end }
.selfcenter-lg { align-self: center }
.selfbaseline-lg { align-self: baseline }
.selfstretch-lg { align-self: stretch }
}
,,.justifystart { justify-content: flex-start }
.justifyend { justify-content: flex-end }
.justifycenter { justify-content: center }
.justifyspace-between { justify-content: space-between }
.justifyspace-around { justify-content: space-around }
@media (min-width: 600px) {
.justifystart-sm { justify-content: flex-start }
.justifyend-sm { justify-content: flex-end }
.justifycenter-sm { justify-content: center }
.justifyspace-between-sm { justify-content: space-between }
.justifyspace-around-sm { justify-content: space-around }
}

@media (min-width: 900px) {
.justifystart-md { justify-content: flex-start }
.justifyend-md { justify-content: flex-end }
.justifycenter-md { justify-content: center }
.justifyspace-between-md { justify-content: space-between }
.justifyspace-around-md { justify-content: space-around }
}

@media (min-width: 1100px) {
.justifystart-lg { justify-content: flex-start }
.justifyend-lg { justify-content: flex-end }
.justifycenter-lg { justify-content: center }
.justifyspace-between-lg { justify-content: space-between }
.justifyspace-around-lg { justify-content: space-around }
}
,,.contentstart { align-content: flex-start }
.contentend { align-content: flex-end }
.contentcenter { align-content: center }
.contentspace-between { align-content: space-between }
.contentspace-around { align-content: space-around }
.contentstretch { align-content: stretch }
@media (min-width: 600px) {
.contentstart-sm { align-content: flex-start }
.contentend-sm { align-content: flex-end }
.contentcenter-sm { align-content: center }
.contentspace-between-sm { align-content: space-between }
.contentspace-around-sm { align-content: space-around }
.contentstretch-sm { align-content: stretch }
}

@media (min-width: 900px) {
.contentstart-md { align-content: flex-start }
.contentend-md { align-content: flex-end }
.contentcenter-md { align-content: center }
.contentspace-between-md { align-content: space-between }
.contentspace-around-md { align-content: space-around }
.contentstretch-md { align-content: stretch }
}

@media (min-width: 1100px) {
.contentstart-lg { align-content: flex-start }
.contentend-lg { align-content: flex-end }
.contentcenter-lg { align-content: center }
.contentspace-between-lg { align-content: space-between }
.contentspace-around-lg { align-content: space-around }
.contentstretch-lg { align-content: stretch }
}
,,.order-0 { order: 0 }
.order-1 { order: 1 }
.order-2 { order: 2 }
.order-3 { order: 3 }
.order-4 { order: 4 }
.order-5 { order: 5 }
.order-6 { order: 6 }
.order-7 { order: 7 }
.order-8 { order: 8 }
.order-9 { order: 9 }
.order-10 { order: 10 }
.order-9999 { order: 9999 }
@media (min-width: 600px) {
.order-0-sm { order: 0 }
.order-1-sm { order: 1 }
.order-2-sm { order: 2 }
.order-3-sm { order: 3 }
.order-4-sm { order: 4 }
.order-5-sm { order: 5 }
.order-6-sm { order: 6 }
.order-7-sm { order: 7 }
.order-8-sm { order: 8 }
.order-9-sm { order: 9 }
.order-10-sm { order: 10 }
.order-9999-sm { order: 9999 }
}

@media (min-width: 900px) {
.order-0-md { order: 0 }
.order-1-md { order: 1 }
.order-2-md { order: 2 }
.order-3-md { order: 3 }
.order-4-md { order: 4 }
.order-5-md { order: 5 }
.order-6-md { order: 6 }
.order-7-md { order: 7 }
.order-8-md { order: 8 }
.order-9-md { order: 9 }
.order-10-md { order: 10 }
.order-9999-md { order: 9999 }
}

@media (min-width: 1100px) {
.order-0-lg { order: 0 }
.order-1-lg { order: 1 }
.order-2-lg { order: 2 }
.order-3-lg { order: 3 }
.order-4-lg { order: 4 }
.order-5-lg { order: 5 }
.order-6-lg { order: 6 }
.order-7-lg { order: 7 }
.order-8-lg { order: 8 }
.order-9-lg { order: 9 }
.order-10-lg { order: 10 }
.order-9999-lg { order: 9999 }
}
,,.left { float: left }
.right { float: right }
.float-none { float: none }
@media (min-width: 600px) {
.left-sm { float: left }
.right-sm { float: right }
.float-none-sm { float: none }
}

@media (min-width: 900px) {
.left-md { float: left }
.right-md { float: right }
.float-none-md { float: none }
}

@media (min-width: 1100px) {
.left-lg { float: left }
.right-lg { float: right }
.float-none-lg { float: none }
}
,,.light { font-weight: 200 }
.normal { font-weight: 400 }
.medium { font-weight: 500 }
.bold { font-weight: 700 }
@media (min-width: 600px) {
.light-sm { font-weight: 200 }
.normal-sm { font-weight: 400 }
.medium-sm { font-weight: 500 }
.bold-sm { font-weight: 700 }
}

@media (min-width: 900px) {
.light-md { font-weight: 200 }
.normal-md { font-weight: 400 }
.medium-md { font-weight: 500 }
.bold-md { font-weight: 700 }
}

@media (min-width: 1100px) {
.light-lg { font-weight: 200 }
.normal-lg { font-weight: 400 }
.medium-lg { font-weight: 500 }
.bold-lg { font-weight: 700 }
}
,